body{
  font-family: Arial !important;
  color: #333 !important;
  width:100% !important;
  line-height: 2 !important;
}

.navbar-default{  background-color: #96D4CF;  border-color: #96d4cf;}

.navbar-default .navbar-brand .navbar-brand:hover{  color: #333333;}

.navbar-default .navbar-text{ color:#333333;}

.navbar-default .navbar-nav > li > a{ color: #333333;}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {  color: white;}

.navbar-default .navbar-nav > li > .dropdown-menu{  background-color: #96d4cf;}

.dropdown-toggle .dropdown-menu {  position: static;  display: block;}

.theme-showcase > p > .btn {  margin: 5px 0;}

.theme-showcase .navbar .container {  width: auto;}

.navbar-brand, .navbar, .activebar{    color: #333 !important;}

.activetab{    background-color: inherit;    color: #333 !important;     font-weight: 600;}

button{    border-color: transparent !important;}

.navbar-brand{  font-size: 10pt;}


.jumbotron{
    margin: 0px !important;
    padding: 0px !important;
}

.header{
    padding: 70px 0px 30px 0px;
    text-align: center;
}

.white{
    padding: 30px 0px 30px 0px;
    background:white !important;
}

.bottom{
    text-align: center;
}
.well1{
    background: #96D4CF !important;
    margin: 0px 70px 30px 70px;
    text-align: center;
}
