body{
  font-family: Arial !important;
  color: #333 !important;
  width:100% !important;
  line-height: 2 !important;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: white !important;
   background-color: #96D4CF;
   border: none;
}

.dropdown-toggle .dropdown-menu {  position: static;  display: block;}

.theme-showcase > p > .btn {  margin: 5px 0;}\

.theme-showcase .navbar .container {  width: auto;}

.navbar-brand {    color: #333 !important;}

.activetab{    background-color: inherit;    color: white !important;     font-weight: 600;}

.navbar .activebar{    color: #333 !important;   }

button{    border-color: transparent !important;}

.navbar-brand{
  font-size: 10pt;
}
.navbar, .navbar-toggle, .nav, .navbar-nav{
  background: #96D4CF !important;
  color: #333 !important;
  border: none !important;
}
.navbar li{
  color: #333 !important;
}
.jumbotron{
    margin: 0px !important;
    padding: 0px !important;
}

.header{
    padding: 70px 0px 30px 0px;
    text-align: center;
}

.white{
    padding: 30px 0px 30px 0px;
    background:white !important;
}

.bottom{
    text-align: center;
}
.well{
    background: #96D4CF !important;
    margin: 0px 70px 30px 70px;
    text-align: center;
}
